body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 80%; /* Set the width of the container */
  max-width: 420px; /* Limit the maximum width */
  background-color: #ffffff;
  padding: 30px; /* Adjust the padding of the container */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 10px; /* Increase the bottom margin */
}

.login-container label {
  display: block;
  margin-bottom: 10px; /* Increase the bottom margin */
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%; /* Set input width to 100% */
  max-width: 400px; /* Limit the maximum width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.login-container button {
  width: 100%; /* Set button width to 100% */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .link-container {
  display: flex;
  justify-content: space-between;
}

.login-container .link-container a {
  text-decoration: none;
  color: #007bff;
}

.login-container .link-container a:hover {
  text-decoration: underline; /* Add underline on hover */
}
